
@{ ViewData["Title"] = "Booking confirmation"; }

<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Your booking has been confirmed.</h2>
                    <br />
                    <span class="title-line"><i class="fa fa-cart-plus fa-5x"></i></span>
                    <p>You will receive a mail with the invoice as soon as possible ! </p>
                    <p>Please pay it as quickly as possible, you have maximum 15 days to do that!</p>
                    <br />
                    <a asp-controller="Home" asp-action="Index" class="btn-404-home">
                        <i class="fa fa-home"></i>
                        Return to the home page.
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>









