@{ ViewData["Title"] = "Faq"; }


<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>FAQ's</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Alle hulp.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq-page-area" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="faq-details-content">
                    <div class="single-faq-sub">
                        <h3>Tarieven en Reservatie</h3>
                        <div class="single-faq-sub-content">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <span>Hoe maak ik een reservatie ?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            Reserveren via internet U kunt een online reservatie maken op elk moment van de dag. Dit kan eenvoudig door gebruik te maken van de Rubriek "Tarieven & Reserveren". Reserveren via telefoon U kunt een reservatie maken op elk moment van de dag. Ons callcenter is immers 24 uur op 24 bereikbaar op het gratis nummer 0800/99999. Reserveren via een agentschap U kunt een reservatie maken door één van onze agentschappen te bezoeken. De lijst met agentschappen vindt u onder de rubriek "Agentschappen".
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <span>Vanaf welke leeftijd kan ik bij Heaven Cars een auto huren ?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            De minimumleeftijd voor het huren van een wagen is duidelijk te zien in de details.
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <span>Welke informatie moet ik ingeven ?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            Om een reservatie te maken, dient u de volgende gegevens te voorzien: de datum van vertrek en aankomstt. Wij kijken de beschikbaarheid na en maken een offerte op lange termijn.
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingsix">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                                <span>Hoeveel bedraagt de huurprijs ?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapsesix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            De huurprijs is afhankelijk van de datum en de duur van de huur.
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingseven">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                                <span>Kan ik meer dan één wagen reserveren ?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
                                        <div class="card-body">
                                            Dit kan. Iedere reservatie heeft een uniek reservatienummer.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single-faq-sub">
                        <h3>Facturatie</h3>
                        <div class="single-faq-sub-content">
                            <div id="accordion_2">
                                <div class="card">
                                    <div class="card-header" id="heading4">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                <span>Met wie neem ik contact op in verband met mijn factuur ?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion_2">
                                        <div class="card-body">
                                            Indien u vragen heeft omtrent uw factuur kan u steeds terecht op het nummer 04/84.82.13.72 of via Whatsapp. 
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <span>Wanneer dien ik mijn factuur te betalen ?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion_2">
                                        <div class="card-body">
                                            Uw factuur dient onmiddellijk betaald te worden, wanneer deze doorgestuurd wordt en het maximum tijd is 15 dagen.
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                <span>Welke zijn de verschillende betalingsmogelijkheden ?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion_2">
                                        <div class="card-body">
                                            De betaling van de huur is mogelijk door middel van contante betaling, via Bancontact of met een geldige en persoonlijke kredietkaart (Visa). Opmerking : Evenwel is de betaling van de huur met een bankcheque uitgesloten.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
