@inject UserManager<HeavenCars.DataAccessLayer.Models.Account.ApplicationUser> UserManager;

@{ ViewBag.Title = "Get Started";
    var user = await UserManager.GetUserAsync(Context.User);

    }

<div id="mobileapp-video-bg"></div>
<section id="mobile-app-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mobile-app-content">
                    <h2>BOOK A CAR TODAY!</h2>
                    <p>Easy &amp; Fast - Book a car in 4 steps</p>
                    <p><i class="fa fa-hand-o-right"></i> CHOOSE - BOOKING - PAYEMENT - PICK UP</p>
                    <div class="app-btns">
                        <a asp-controller="Cars" asp-action="ListCars"><i class="fa fa-car"></i> All Cars</a>
                        <a asp-controller="Home" asp-action="Contact" asp-route-id="@user.Id"><i class="fa fa-envelope"></i> Contact Us</a>  
                        <a href="https://wa.me/32484821372"><i class="fa fa-whatsapp"></i>Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>
                        Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                        Only here you will find the most current modifications and new items.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>
                                Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                                Only here you will find the most current modifications and new items.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="images/icons/home-2-about.png" alt="JSOFT">
                </div>
            </div>
        </div>

        <div class="about-feature-area">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-feature-item active">
                        <i class="fa fa-car"></i>
                        <h3>ALL BRANDS</h3>
                        <p>
                            Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                            Only here you will find the most current modifications and new items.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-car"></i>
                        <h3>ALL BRANDS</h3>
                        <p>
                            Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                            Only here you will find the most current modifications and new items..
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-car"></i>
                        <h3>ALL BRANDS</h3>
                        <p>
                            Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                            Only here you will find the most current modifications and new items.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner-content-wrap">

                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/images/logos/audi.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>

                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/images/logos/bentley.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>

                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/images/logos/ferrari.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>

                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/images/logos/lamborghini.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>

                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/images/logos/mercedes-benz.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Services</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>
                        Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                        Only here you will find the most current modifications and new items.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-11 m-auto text-center">
                <div class="service-container-wrap">
                    <div class="service-item">
                        <i class="fa fa-taxi"></i>
                        <h3>RENTAL CAR</h3>
                        <p>
                            Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                            Only here you will find the most current modifications and new items..
                        </p>
                    </div>

                    <div class="service-item">
                        <i class="fa fa-cog"></i>
                        <h3>CAR REPAIR</h3>
                        <p>
                            Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                            Only here you will find the most current modifications and new items.
                        </p>
                    </div>

                    <div class="service-item">
                        <i class="fa fa-life-ring"></i>
                        <h3>life insurance</h3>
                        <p>
                            Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                            Only here you will find the most current modifications and new items.
                        </p>
                    </div>

                    <div class="service-item">
                        <i class="fa fa-bath"></i>
                        <h3>car wash</h3>
                        <p>
                            Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                            Only here you will find the most current modifications and new items.
                        </p>
                    </div>

                    <div class="service-item">
                        <i class="fa fa-phone"></i>
                        <h3>call Driver</h3>
                        <p>
                            Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                            Only here you will find the most current modifications and new items.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="funfact-area" class="overlay section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 col-md-12 m-auto">
                <div class="funfact-content-wrap">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">550</span>+</p>
                                    <h4>HAPPY CLIENTS</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-car"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">10</span>+</p>
                                    <h4>CARS IN STOCK</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-bank"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">4</span>+</p>
                                    <h4>office in cities</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

