
@model IEnumerable<HeavenCars.DataAccessLayer.Models.Account.ApplicationUser>

@{ ViewBag.Title = "All Users"; }

<h1>All Users</h1>

<hr />

 @foreach (var user in Model)
                {
<div class="card mb-3">
  
    <div class="card-body">
        <h5 class="card-title">@user.UserName</h5>
    </div>
  
</div> }
          

