
<section id="page-404-wrap" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="page-404-content">
                    <h3>
                        SUCCES!
                    </h3>

                    <p>
                        You have successfully sent your mail.
                    </p>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-info">Back</a>

                </div>
            </div>
        </div>
    </div>
</section>
