
<section id="footer-area">
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Heaven Cars Expert</h2>
                        <div class="widget-body">
                            <img src="~/images/Icons/cartransparants.png" alt="JSOFT">
                            <p>
                                Heaven Cars is an expert in prestigious luxury car rental! We have an extensive fleet of models from the legendary world brands.
                                Only here you will find the most current modifications and new items.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>NAVIGATION</h2>
                        <div class="widget-body">
                            <ul class="recent-post">
                                <li>
                                    <a asp-controller="Cars" asp-action="ListCars">
                                        CARS
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Edit">
                                        PROFILE
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Faq">
                                        FAQ
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>LOCATION & CONTACTS</h2>
                        <div class="widget-body">


                            <ul class="get-touch">
                                <li><i class="fa fa-map-marker"></i> Portugeesstraat 2, Affligem, België</li>
                                <li><i class="fa fa-mobile"></i> 04/84.82.13.72</li>
                                <li><i class="fa fa-envelope"></i> ict-slap@gmail.com</li>
                                <li><a href="https://wa.me/32484821372" target="_blank"><i class="fa fa-whatsapp fa-3x"></i>Contact Directly</a></li>
                            </ul>
                            <a href="https://goo.gl/maps/vyTtrvGaVkZrL2W77" class="map-show" target="_blank">Show Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="scroll-top">
    <img src="~/images/Icons/scroll-top.jpg" alt="JSOFT">
</div>
