
@{ ViewData["Title"] = "Forgot Password"; }

<section id="page-404-wrap" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="page-404-content">
                    <h2>
                        If you have an account with us, we have sent an email
                        with the instructions to reset your password..
                    </h2>
                    <p>We have sent an email</p>
                    <a asp-controller="Home" asp-action="Index" class="btn-404-home">
                        <i class="fa fa-home"></i>
                        Go to the Home page.
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>