@model int

@{
    ViewData["Title"] = "404 Error";
}

<div class="jumbotron" style="margin-bottom:0">
    <div class="alert alert-danger my-1">
        <h4>404 Not Found Error :</h4>
        <hr />
        <h5>
            Car = @Model cannot be found
        </h5>
    </div>

    <a asp-controller="Cars" asp-action="ListCars" class="btn btn-outline-success" style="width:auto">
        Click here to see the list of all companies
    </a>
</div>