@model HeavenCars.ViewModels.Cars.CreateCarViewModel

@{ ViewBag.Title = "Create Car"; }

<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />

@*<h1>Create New Car</h1>

    <hr />

    <div class="jumbotron" style="margin-bottom:0">
        <form enctype="multipart/form-data" asp-action="Create" asp-controller="Cars" method="post" class="mt-3">
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="MinLeeftijd" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="MinLeeftijd" class="form-control" placeholder="Minimum Leeftijd" />
                    <span asp-validation-for="MinLeeftijd" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Prijs" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Prijs" class="form-control" placeholder="Prijs" />
                    <span asp-validation-for="Prijs" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Kw" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Kw" class="form-control" placeholder="Vermogen" />
                    <span asp-validation-for="Kw" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Photo" class="form-control custom-file-input" />
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Content</label>
                <div class="col-sm-10">
                    <textarea id="editor" asp-for="Content"></textarea>
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </form>
    </div>*@

<!--== Slider Area Start ==-->
<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>ONLY FOR THE ADMINISTRATION!</h1>
                                <p>ADD YOUR NEW CAR <br> TO PATSSIONATE ALL THE CLIENTS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="book-a-car">
                        <form enctype="multipart/form-data" asp-action="Create" asp-controller="Cars" method="post" class="mt-3">
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>NAME:</h4>
                                <input asp-for="Name" class="form-control" placeholder="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <!--== Pick Up Location ==-->
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>MINIMUM YEARS:</h4>
                                <input asp-for="MinLeeftijd" class="form-control" placeholder="Leeftijd" />
                                <span asp-validation-for="MinLeeftijd" class="text-danger"></span>
                            </div>
                            <!--== Pick Up Location ==-->
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>PRICE:</h4>
                                <input asp-for="Prijs" class="form-control" placeholder="Price" />
                                <span asp-validation-for="Prijs" class="text-danger"></span>
                            </div>
                            <!--== Pick Up Location ==-->
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>KW:</h4>
                                <input asp-for="Kw" class="form-control" placeholder="KW" />
                                <span asp-validation-for="Kw" class="text-danger"></span>
                            </div>
                            <div class="pickup-location book-item">
                                <h4>Content:</h4>
                                <textarea id="editor" asp-for="Content"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
       
                            <!--== Pick Up Location ==-->
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>PICTURE:</h4>
                                <div class="custom-file">
                                    <input asp-for="Photo" class="form-control custom-file-input" />
                                    <label class="custom-file-label">Choose File...</label>
                                </div>
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                            <!--== Pick Up Location ==-->

                            <div class="book-button text-center">
                                <button type="submit" class="book-now-btn">Create</button>
                                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>
<!--== Slider Area End ==-->

@section Scripts {

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>$('#editor').trumbowyg();</script>

    <script>$(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });</script>


}