@model IEnumerable<HeavenCars.DataAccessLayer.Models.Account.ApplicationUser>
@{ ViewData["Title"] = "All Users";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml"; }

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1"><i class="fa fa-users fa-2x"></i> Users</h2>
                    </div>
                </div>
            </div>
            <hr />
            <br />
            <table class="table table-hover ">
                <thead>
                    <tr>

                        <th>
                            Full Name
                        </th>

                        <th>
                            Email
                        </th>
                        <th>Edit</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var utilisateur in Model)
                    {
                    <tr>

                        <td>
                            @utilisateur.UserName
                        </td>
                        <td>
                            @utilisateur.Email
                        </td>
                        <td>
                            <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@utilisateur.Id"><i style="color:#4272d7;" class="fa fa-edit fa-2x"></i></a>
                        </td>

                    </tr>}
                </tbody>
            </table>
        </div>
    </div>
</div>
